<div class="container">
    <div class="jumbotron">
        <h1>Websocket Demo</h1>
        <p>
            This is a simple little demonstration of the problem websockets attempts to solve; real-time communication.
            This site implements a basic web chat, using POST, long and short polling, and websockets. Use the navbar
            to find each example.
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="/post" role="button">Start with POST &raquo;</a>
        </p>
    </div>
</div>
